
librosa
matplotlib
numpy==1.26.4
pretty_midi
scipy
textgrid
tqdm
pandas
praat-parselmouth
pyworld
ctranslate2==3.24.0
faster-whisper==1.0.0
whisperx==3.1.5
pyannote.audio
torchmetrics
lightning==2.3.3
h5py
einops>=0.7.0
PyYAML
resampy
jiwer==3.0.3
jieba
modelscope
funasr
hydra-core
pydub
munch==4.0.0
pedalboard
sox
cn2an
ml_collections
pypinyin
rotary_embedding_torch
samplerate